<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
        <!-- bootstrap 3.0.2 -->
        <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
        <!-- Ionicons -->
        <link href="@Url.Content("~/Content/ionicons.css")" rel="stylesheet" type="text/css" />
        <!-- Theme style -->
        <link href="@Url.Content("~/Content/AdminLTE.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/jtable/themes/lightcolor/gray/jtable.min.css")" rel="stylesheet" type="text/css" />
        <link href="@Url.Content("~/Scripts/jtable/themes/jqueryui/jtable_jqueryui.css")" rel="stylesheet" type="text/css" />
</head>
<body class="skin-blue">
    <header class="header">
            <a href="/" class="logo"><img src="~/Content/Img/karepro-text.png" />
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span>@if (Session["usuario"] != null)
{
    <text>
        @Session["usuario"].ToString() 
    </text>
} <i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-right">
                                        <form method="post" action="~/Account/LogOff">
                                            <input class="btn btn-default btn-flat" type="submit" value="Cerrar session" />
                                        </form>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
    <div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <aside class="left-side sidebar-offcanvas">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    <div class="user-panel">
                        <div class="pull-left info">
                            <a href="/"><img src="~/Content/Img/karepro.png" /></a>
                        </div>
                    </div>
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li>
                            <a href="~/Home/Index">
                               <span>Inicio</span>
                            </a>
                        </li>
                        <li class="treeview">
                            <a href="ks_posts.php">
                                <i class="fa fa-laptop"></i>
                                <span>Equipos</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Equipos/Create">Agregar equipo</a></li>
                                <li><a href="~/Equipos/Index">Ver equipos</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="ks_posts.php">
                                <i class="fa fa-laptop"></i>
                                <span>Averias</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Averias/Create">Agregar averias</a></li>
                                <li><a href="~/Averias/Index">Ver averias</a></li>
                            </ul>
                        </li>
                        @{
                            if (User.IsInRole("Administrador"))
                            {
                                <li class="treeview">
                                    <a href="ks_posts.php">
                                        <i class="fa fa-laptop"></i>
                                        <span>Insumos</span>
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </a>
                                    <ul class="treeview-menu">
                                        <li><a href="~/Insumoes/Create">Agregar insumo</a></li>
                                        <li><a href="~/Insumoes/Index">Ver insumo</a></li>
                                    </ul>
                                </li>


                        <li class="treeview">
                            <a href="ks_posts.php">
                                <i class="fa fa-laptop"></i>
                                <span>Intituciones</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Institucions/Create">Agregar intituciones</a></li>
                                <li><a href="~/Institucions/Index">Ver intituciones</a></li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="ks_posts.php">
                                <i class="fa fa-laptop"></i>
                                <span>Usuarios</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><a href="~/Account/Register">Agregar</a></li>
                            </ul>
                        </li>
                            }
                        }

                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>
    <div id="main">
        <aside class="right-side">
<section class="content">
<div class="row">
<section class="col-md-12" style = "width: 90%; margin: auto">
	<div class="box-body no-padding">
			<div class="table-responsive">
        @RenderBody()
                </div>
	</div><!-- /.box-body-->               
</section><!-- right col -->

</div>
</section>
</aside>
    </div>
    </div><!-- ./wrapper -->
    <script src="@Url.Content("~/Scripts/jquery-latest.min.js")"></script>
        <!-- jQuery UI 1.10.3 -->
        <script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
		 <!-- AdminLTE App -->
        <script src="@Url.Content("~/Scripts/AdminLTE/app.js")" type="text/javascript"></script>
        <script src="@Url.Content("~/Scripts/AdminLTE/dashboard.js")" type="text/javascript"></script>  
    <script src="@Url.Content("~/Scripts/jtable/jquery.jtable.min.js")" type="text/javascript"></script> 
    <script src="@Url.Content("~/Scripts/Script.js")" type="text/javascript"></script> 
    <footer>
       <p>&copy; @DateTime.Now.Year - SavCorp</p>
    </footer>
</body>
</html>