@model Karepro.Models.Averia

@{
    ViewBag.Title = "Detalle Averia";
}

<h2>Details</h2>

<div>
    <h4>Averia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Equipo.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipo.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Institucion.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Institucion.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_averia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_averia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nivel_urgencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nivel_urgencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdAveria }) |
    @Html.ActionLink("Back to List", "Index")
</p>
