@model IEnumerable<Karepro.Models.Averia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Registrar Averia", "Create")
</p>
<table class="table">
    <tr class="top">
        <th>
            @Html.DisplayNameFor(model => model.Equipo.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Institucion.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>Urgencia</th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institucion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)
        </td>
       

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdAveria }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdAveria }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdAveria })
        </td>
    </tr>
}

</table>
