@model IEnumerable<Karepro.Models.Averia>

@{
    ViewBag.Title = "Index";
}

<h2>Averias</h2>
<p>
    @Html.ActionLink("Registrar Averia", "Create")
</p>
<table class="table">
    <tr class="top">
        <th>
            Equipo
        </th>
        <th>
            Institución Asignada
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>Nivel de urgencia</th>
        <th>Acciones</th>
    </tr>
   
@foreach (var item in Model)
{
    <tr id="color" class="@Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)" value="@Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)">
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institucion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)
        </td>
        @{
            if (User.IsInRole("Administrador"))
            {

                <td>
                     @Html.ActionLink("Detalle", "Details", new { id = item.IdAveria })
                    @{
                        if (item.Tecnico == null)
                        {
                            @Html.ActionLink("Asignar a un tenico", "Asignar", new { id = item.IdAveria })
                        }
                        else
                        {
                            <a class="btn btn-primary btn-sm">Ya está asignada a un técnico</a>
                        }
                    }

                </td>
                        }

                        if (User.IsInRole("Tecnico"))
                        {

                            <td>
                                <a class="btn btn-success" href="/Mantenimientos/Create">Dar mantemiento</a>
                            </td>
                                    }
        }
    </tr>
}

</table>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.Alta').each(function (){
            $(".Alta").css("background-color", "Red");
        });
        $('.Baja').each(function (){
            $(".Baja").css("background-color", "Yellow");
        });
        $('.Media').each(function (){
            $(".Media").css("background-color", "Orange");
        });    
    });      
</script>