@model IEnumerable<Karepro.Models.Averia>

@{
    ViewBag.Title = "Index";
}

<h2>Averias</h2>
<p>
    @Html.ActionLink("Registrar Averia", "Create")
</p>
<table class="table">
    <tr class="top">
        <th>
            Equipo
        </th>
        <th>
            Institución Asignada
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>Nivel de urgencia</th>
        <th>Acciones</th>
    </tr>
   
@foreach (var item in Model)
{
    <tr id="color" class="@Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)" value="@Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)">
        <td>
            @Html.DisplayFor(modelItem => item.Equipo.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Institucion.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nivel_urgencia.Nivel)
        </td>
        <td>
            <button class="btn btn-primary btn-sm" id="@item.IdAveria">Reportar</button>
        </td>
    </tr>
}

</table>
<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script>
    $(document).ready(function () {
        $('.Alta').each(function (){
            $(".Alta").css("background-color", "Red");
        });
        $('.Baja').each(function (){
            $(".Baja").css("background-color", "Yellow");
        });
        $('.Media').each(function (){
            $(".Media").css("background-color", "Orange");
        });    
    });      
</script>