@model Karepro.Models.Equipo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Equipo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Perio_mantenimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Perio_mantenimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdInstitucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdInstitucion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdEquipo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
