@model IEnumerable<Karepro.Models.Equipo>

@{
    ViewBag.Title = "Equipos";
}

<h2>Equipos</h2>

<p>
    @Html.ActionLink("Registrar equipo", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Perio_mantenimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdInstitucion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Usuario.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Perio_mantenimiento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdInstitucion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdEquipo }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdEquipo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdEquipo })
        </td>
    </tr>
}

</table>
